.App {
  text-align: center;
}

body {
  background: #b19cd951;
}

.gradient {
  background-image: linear-gradient(90deg, #665e00, #ecd904);
}

.Note {
  white-space: pre-wrap;
  /* background: #f6f3c2; */
}

.text-muted .card-text {
  margin: 0;
}
